*.pyc

# Tex files
build/
*.log
*.aux
*.gz
*.glg
*.glo
*.gls
*.ist
*.out
*.acn
*.acr
*.alg
*.bbl
*.blg
*.toc
*.lof
*.lot
*.pdf
*.fdb_latexmk
*.fls
*.nav 
*.out 
*.snm 
*.synctex.gz
*-blx.bib
*.bcf
*.run.xml
*.auxlock 
*.synctex.gz(busy) 
*.vrb 
*.fls 
*.fdb_latexmk 
*.latexmk 
*.ind 
*.idx 
*.ilg
*.nls
*.nlo

